@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable weight range */
  font-style: normal;
}

@font-face {
  src: url('./assets/fonts/lazy_dog.ttf') format('truetype');
  font-family: 'Lazy Dog';
}

/* html, body {
  overscroll-behavior: none;
} */